{% extends '::base.html.twig' %}

{% block body %}
<div class="container">

    <ol class="breadcrumb">
        <li><a href="{{ url('homepage') }}" title="Back to the home page">Home</a></li>
        <li class="active">Interview question</li>
    </ol>

    <h3>Interview topics</h3>
    {% for topic in topics %}
        <a href="{{ path('acme_interview_topic', {'topic': topic.slug} ) }}" title="Interview question for topic {{ topic.name }}" class="btn btn-primary">{{ topic.name }}</a>
    {% endfor %}

    <h3>Tags</h3>
    <div class="row">
    {% for tag in tags %}
        <div class="col-sm-2" class="gridcellpadding" style="padding: 4px">
            <a href="{{ path('acme_interview_tags', {'tag': tag.slug}) }}" title="Interview question  {{ tag.name }}" class="btn btn-default"><i class="fa fa-tags"></i> {{ tag.name }}</a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}