{% extends 'frontend/base.html.twig' %}
{% import _self as macros %}
{% block body %}
    <div class="container">

        <ol class="breadcrumb">
            <li class="active">Home</li>
        </ol>

        <div class="row">
            <div class="col-md-6">

                {% if quizTopicsRecords is not empty %}
                    <h1>Quiz topics</h1>

                    <div>
                        {% for records in quizTopicsRecords %}
                            <a href="{{ path('quiz_topic', {'topic': records.name|slugify }) }}" class="btn btn-default" title="">{{ records.name }}</a>
                        {% endfor %}
                    </div>

                    {% if quizTags is not empty %}
                        <h3>Tags</h3>

                        {% for tag in quizTags %}
                            <a href="{{ path('quiz_tags', {'tag': tag.name|slugify }) }}" class="btn btn-default" title="{{ tag.name }}">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <div class="alert alert-warning">
                        <h1>No quiz topics</h1>
                        <p>There were no topics to list on our archive.</p>
                    </div>
                {% endif %}

            </div>
            <div class="col-md-6">

                <h1>Interview questions topics</h1>

                <div>
                    {% for topic in interviewTopics %}
                        <a href="{{ path('interview', {'topic': topic.name|slugify }) }}" class="btn btn-default" title="{{ topic.name }} Question">{{ topic.name }}</a>
                    {% endfor %}
                </div>

                {% if interviewTags is not empty %}
                    <h3>Tags</h3>

                    <div>
                        {% for tag in interviewTags %}
                            <a href="{{ url('interview_tags', { 'tag': tag.name|slugify }) }}" class="btn btn-default" title="Interview questions for tag {{ tag.name }}">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    </div>

                {% endif %}
            </div>

        </div>

        <hr>

        {% macro recursiveTree(parentId, treeData) %}
            {% if treeData.parents[parentId] is defined %}
                {% import _self as macros %}
                <ul>
                    {% for topicId in treeData.parents[parentId] %}
                        <li>{{ treeData.items[topicId].name }}
                            {{ macros.recursiveTree(topicId, treeData) }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endmacro %}

        <div>
            <h2>All topics</h2>

            {{ macros.recursiveTree(0, topicsTree) }}
        </div>

        {% include 'frontend/_footer.html.twig' %}
    </div>
{% endblock %}