{% extends 'AdminBundle::layout.html.twig' %}

{% block section %}

    <h1>Topics</h1>

    <a href="{{ path('admin_topics') }}" class="btn btn-default">
        Back to the list
    </a>

    <a href="{{ path('admin_topics_edit', { 'id': entity.id }) }}" class="btn btn-primary">
        Edit
    </a>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Parentid</th>
                <td>{{ entity.parentId }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ entity.position }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

    {{ form(delete_form) }}

{% endblock %}
