{% set currentRoute = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Quiz system{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}
        <link href="{{ asset('app/Resources/css/bootstrap.min.css') }}" rel="stylesheet">
        <style>
            .normalweight {
                font-weight: normal;
            }
            .panel-title:hover {
                cursor: pointer;
            }
        </style>
        {% endblock %}
        
        {% block javascripts_head %}
        <script src="{{ asset('app/Resources/js/jquery.min.js') }}"></script>
        <script src="{{ asset('app/Resources/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>

    {% block navbar %}
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url('homepage') }}" title="Quiz and interview questions">Quiz and interview questions</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li{% if currentRoute == 'homepage' %} class="active"{% endif %}><a href="{{ url('homepage') }}" title="Home page">Home</a></li>
                    <li{% if currentRoute == 'acme_quiz' %} class="active"{% endif %}><a href="{{ url('acme_quiz') }}" title="Quiz">Quiz</a></li>
                    <li{% if currentRoute == 'acme_interview' %} class="active"{% endif %}><a href="{{ url('acme_interview') }}" title="Interview questions">Interview questions</a></li>
                    <!-- <li><a href="{{ url('acme_api') }}" title="API">API</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    
    </body>
</html>