{% extends 'AdminBundle::layout.html.twig' %}

{% block section %}

<ul class="breadcrumb">
    <li><a href="#" title="Home page">Home</a> <span class="divider"></span></li>
    <li class="active">Interview questions</li>
</ul>

<h1>Interview questions</h1>

<div><a href="{{ path('acme_admin_interview_new') }}" class="btn btn-primary" title="">Create a new entry</a></div>

<br>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Topic</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('acme_admin_interview_show', { 'id': entity.question.id }) }}">{{ entity.question.question }}</a></td>
                <td>{{ entity.question.answer | truncate(150) }}</td>
                <td>{{ entity.question.topicsOld }}</td>
                <td>
                <a href="{{ path('acme_admin_interview_show', { 'id': entity.question.id }) }}">show</a>
                </td>
                <td>
                <a href="{{ path('acme_admin_interview_edit', { 'id': entity.question.id }) }}" title="Edit interview question">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}