{% extends 'frontend/base.html.twig' %}

{% block body %}
<div class="container">
    
    <ol class="breadcrumb">
        <li><a href="{{ url('homepage') }}" title="Back to the home page">Home</a></li>
        {% if app.request.get('topic') %}
        <li><a href="{{ url('quiz') }}" title="Go to the quiz list">Quiz</a></li>
        {% else %}
        <li>Quiz</li>
        {% endif %}
        {% if app.request.get('topic') %}
        <li class="active">{{ app.request.get('topic') }}</li>
        {% endif %}
    </ol>
    
    {% if qa is not empty %}
        <h1>Quiz {{ app.request.get('topic') }}</h1>
        <p>You can have single or multiple answers.</p>
        
        <p><strong>{{ pagination.getTotalItemCount }}</strong> questions available.</p>

        <div>Order by {{ knp_pagination_sortable(pagination, 'Id', 'qq.id') }} - {% if pagination.isSorted('qq.question') %}{% endif %}{{ knp_pagination_sortable(pagination, 'Question', 'qq.question') }}</div>
        
        {% set knpPagingNumbers = knp_pagination_render(pagination)|trim %}
        
        {% if knpPagingNumbers != "" %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% else %}
        <div>&nbsp;</div>
        {% endif %}
        
        {% for question in qa %}
            {% set quest = question.question %}
        <form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="post" id="frm_question_{{ quest.id }}">
            
            <p class="pull-right"><strong>{{ quest.id }}</strong></p>
            
            <p><strong>{{ quest.question }}</strong></p>
            
            {% if quest.question_code|length > 0 %}
            <pre>{{ quest.question_code|escape('html') }}</pre>
            {% endif %}
            
            {% set answer_number = 1 %}
            {% set q_answers = question.answers %}
            {% for answer in q_answers %}
                
                {% if quest.number_correct_answers > 1 %}
                <div>
                    <label class="normalweight" for="answer_{{ answer.id }}">
                        {{ answer_number }}. <input type="checkbox" name="answer_{{ answer.id }}" id="answer_{{ answer.id }}" value="1"{% if answer.correct == 1 %} correct="correct"{% endif %}> {{ answer.answer }}
                    </label>
                </div>
                {% else %}
                <div>
                    <label class="normalweight" for="answer_{{ answer.id }}">
                        {{ answer_number }}. <input type="radio" name="answer" id="answer_{{ answer.id }}" value=""{% if answer.correct == 1 %} correct="correct"{% endif %}> {{ answer.answer }}
                    </label>
                </div>
                {% endif %}
                {% set answer_number = answer_number + 1 %}
            {% endfor %}
            <p class="text-right">Choose {{ quest.number_correct_answers }} answers</p>
            
            <!-- Solve button -->
            <p class="text-center"><button class="btn btn-primary" type="button" onclick="{% if quest.number_correct_answers > 1 %}solve_checkbox('frm_question_{{ quest.id }}', 'comment_{{ quest.id }}'){% else %}solve_radio('frm_question_{{ quest.id }}', 'comment_{{ quest.id }}'){% endif %}">Solve</button></p>
            
            <!-- Comment -->
            <div id="comment_{{ quest.id }}"{% if quest.comment %} class="alert alert-info"{% endif %} style="display: none">{{ quest.comment|raw }}</div>

            <p><strong>Topics:</strong> {% for topic in question.topics %}<a href="{{ path('quiz_topic', {'topic': topic|slugify }) }}" class="btn btn-default" title="View quiz for {{ topic }} topic">{{ topic }}</a> {% endfor %}</p>
            
            {% if question.tags is not empty %}
                <div>
                <strong>Tags:</strong>
                {% for tag in question.tags %}
                    <a href="{{ url('quiz_tags', { 'tag': tag|slugify } ) }}" class="btn btn-default" title="Go to question\s for '{{ tag }}' tag">{{ tag }}</a>
                {% endfor %}
                </div>
            {% endif %}
            
            <hr>
        </form>
        {% endfor %}
       
        {% if knpPagingNumbers != "" %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% endif %}
    
    {% else %}
        <div class="alert alert-warning">
            <h2>No questions</h2>
            <p>Sorry, no questions are available for now :(</p>
        </div>
    {% endif %}

    {% include 'frontend/_footer.html.twig' %}
</div>

<script>

function solve_checkbox(formId, comment)
{
    checkCorrectAnswer( $("#"+formId+" input:checkbox"), comment );
}

function solve_radio(formId, comment)
{
    checkCorrectAnswer( $("#"+formId+" input:radio"), comment );
}

    function checkCorrectAnswer(selector, comment)
    {
        /* Uncheck all answers */
        selector.each(function( i ) {
            this.checked = false;
        });

        /* Check correct answers */
        if ( selector.length > 0 ) {
            selector.each(function( i ) {
                if (this.getAttribute('correct') === 'correct') {
                    this.checked = true;
                }
            });
        }
        
        /* Show answer comment */
        $('#'+comment).show();
    }
</script>
{% endblock %}