{% extends 'AdminBundle::layout.html.twig' %}

{% block section %}
    
    <ul class="breadcrumb">
        <li><a href="#" title="Back to the home page">Home</a> <span class="divider"></span></li>
        <li><a href="{{ path('acme_admin_quiz_quizquestions_index') }}" title="Quiz questions">Quiz questions</a></li>
        <li class="active">{{ entity.question }}</li>
    </ul>

    <h1>{{ entity.question }}</h1>

    <a href="{{ path('acme_admin_quiz_quizquestions_index') }}">
        Back to the list
    </a>

    {{ form(edit_form) }}

    {{ form(delete_form) }}

{% endblock %}
