{% extends 'AdminBundle::layout.html.twig' %}

{% block section %}

    <h1>Quiz questions</h1>

    <a href="{{ path('acme_admin_quiz_quizquestions_index') }}" class="btn btn-default" title="Back to the list">
        Back to the list
    </a>

    <a href="{{ path('acme_admin_quiz_quizquestions_edit', { 'id': entity.id }) }}" class="btn btn-primary" title="Edit question">
        Edit
    </a>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Question</th>
                <td>{{ entity.question }}</td>
            </tr>
            <tr>
                <th>Question code</th>
                <td>{{ entity.questionCode }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment }}</td>
            </tr>
            <tr>
                <th>Number of correct answers</th>
                <td>{{ entity.numberCorrectAnswers }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

    {{ form(delete_form) }}

{% endblock %}
