{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    
    <ol class="breadcrumb">
        <li><a href="{{ url('homepage') }}" title="Back to the home page">Home</a></li>
        <li class="active">{{ app.request.get('topic') }}</li>
    </ol>
    
    <h3>{{ app.request.get('topic') }}</h3>
    {% if qa is not empty %}

        <p>You can have single or multiple answers.</p>
        
        <p><strong>{{ pagination.getTotalItemCount }}</strong> questions available for this topic.</p>

        <div>Order by {{ knp_pagination_sortable(pagination, 'Id', 'qq.id') }} - {% if pagination.isSorted('qq.question') %}{% endif %}{{ knp_pagination_sortable(pagination, 'Question', 'qq.question') }}</div>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    
        {% for question in qa %}
            {% set quest = question.getQuestion() %}
        <form action="" method="post" id="frm_question_{{ quest.getId() }}">
            <p class="pull-right"><strong>{{ quest.getId() }}</strong></p>
            <p><strong>{{ quest.getQuestion() }}</strong></p>
            {% if quest.getQuestionCode()|length > 0 %}
            <pre>{{ quest.getQuestionCode()|escape('html') }}</pre>
            {% endif %}
            
            {% set answer_number = 1 %}
            {% set q_answers = question.answers %}
            {% for answer in q_answers %}
                
                {% if quest.getNumberCorrectAnswers() > 1 %}
                <div>
                    <label class="normalweight" for="answer_{{ answer.id }}">
                        {{ answer_number }}. <input type="checkbox" name="answer_{{ answer.id }}" id="answer_{{ answer.id }}" value="1"{% if answer.correct == 1 %} correct="correct"{% endif %}> {{ answer.answer }}
                    </label>
                </div>
                {% else %}
                <div>
                    <label class="normalweight" for="answer_{{ answer.id }}">
                        {{ answer_number }}. <input type="radio" name="answer" id="answer_{{ answer.id }}" value=""{% if answer.correct == 1 %} correct="correct"{% endif %}> {{ answer.answer }}
                    </label>
                </div>
                {% endif %}
                {% set answer_number = answer_number + 1 %}
            {% endfor %}
            <p class="text-right">Choose {{ quest.getNumberCorrectAnswers() }} answers</p>
            
            <p class="text-center"><button class="btn btn-primary" type="button" onclick="{% if quest.getNumberCorrectAnswers() > 1 %}solve_checkbox('frm_question_{{ quest.id }}', 'comment_{{ quest.id }}'){% else %}solve_radio('frm_question_{{ quest.id }}', 'comment_{{ quest.id }}'){% endif %}">Solve</button></p>
            
            <div id="comment_{{ quest.getId() }}"{% if quest.getComment() %} class="alert alert-info"{% endif %} style="display: none">{{ quest.getComment() | raw }}</div>

            {% if question.tags is defined %}
                <!-- TAGS -->
                {% set q_tags = question.tags %}
                <strong>Tags:</strong> 
                {% for tag in q_tags %}
                    <a href="{{ url('acme_quiz_topics_tags', { 'topic': app.request.get('topic'), 'tag': tag.getTag().name } ) }}" class="btn btn-info" title="Go to question\s for '{{ tag.getTag().name }}' tag">{{ tag.getTag().name }}</a>
                {% endfor %}
            {% endif %}
            
            <hr>
        </form>
        {% endfor %}
       
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    
    {% else %}
        <div class="alert alert-warning">
            <h2>No questions</h2>
            <p>Sorry, no questions are available for now :(</p>
        </div>
    {% endif %}

    {% include 'AcmeReqBundle:Default:footer.html.twig' %}
</div>

<script>

function solve_checkbox(formId, comment)
{
    checkCorrectAnswer( $("#"+formId+" input:checkbox"), comment );
}

function solve_radio(formId, comment)
{
    checkCorrectAnswer( $("#"+formId+" input:radio"), comment );
}

    function checkCorrectAnswer(selector, comment)
    {
        /* Uncheck all answers */
        selector.each(function( i ) {
            this.checked = false;
        });

        /* Check correct answers */
        if ( selector.length > 0 ) {
            selector.each(function( i ) {
                if (this.getAttribute('correct') === 'correct') {
                    this.checked = true;
                }
            });
        }
        
        /* Show answer comment */
        $('#'+comment).show();
    }
</script>
{% endblock %}